<!DOCTYPE html>
{% extends "user_base.html" %}
{% block content %}

<div class="col-lg-10">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">APPLICATION STATUS </strong>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Scheme</th>

                    <th scope="col">Designation</th>
                    <th scope="col">End date</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>


                <tbody>
                {% for n in appointment %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                     <td>{{n.schedule.scheme}}</td>
                    <td>{{n.schedule.designation}}</td>

                    <td>{{n.schedule.end_date}}</td>
                    <td>
                        {% if n.status == 0 %}
                          <button type="button" class="btn btn-warning">Pending</button>
                        {% elif n.status == 1 %}
                        <button type="button" class="btn btn-success">selected</button>
                         {% else %}
                        <button type="button" class="btn btn-danger">Application rejected</button>
 {% endif %}



                    </td>




                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
  }}






</script>
{% endblock %}